<phpunit bootstrap="./vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false">
    <testsuites>
        <testsuite name="zend-expressive-session-zf1">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
